.navbar {
  /* width: 60%; */
  display: flex;
  justify-content: space-between;
}
.headerLogoBlock {
  margin-left: 60px;
}
.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.navitemss{
  margin-top: 5px;
}

.rectagle{
  width: 95%;
  margin-top: 5px;
  margin-left: 5px;
  display: flex;
  justify-content: space-around;
}
.rectagles{
  height: 0.4vh;
}
@media only screen and (max-width: 1839px){
  .navbar {
    width: 67%;
  }
}
@media only screen and (max-width: 1647px){
  .navbar {
    width: 72%;
  }
}

@media only screen and (max-width:1354px) {
  .headerLogoBlock{
    width: 20%;
  }
  .left {
    justify-content: space-around;
    width: 93%;
  }
  .navbar {
    width: 65%;
  }
}
@media screen and (max-width: 1113px) {
  .headerLogoBlock{
    margin-left: 0;
  }
  .left {
    width: 96%;
  }
}
/* @media screen and (max-width: 991px) {
  .headerLogoBlock{
    margin-left: 20px;
    width: 200px;
  }
  .left {
    width: 94%;
  
  }
  .rectagles{
    width: 10px;
    margin: 1px;
  }
 
} */