.crmWrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    margin-top: 10vh;
}

.crmImage {
    /* width: 858px; */
    width: 47%;
    height: auto;
    background: radial-gradient(48.55% 48.55% at 50% 50%, rgba(255, 255, 255, 0.2) 0%, rgba(15, 183, 192, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -45px;
}
.crmTexts{
    width: 70%;
    margin-right: 60px;
}

.crmText {
    font-family: 'Mont1';
    font-style: normal;
    font-weight: 900;
    font-size: 4.875rem;
    line-height: 5.875rem;
    color: #0FB7C0;
}

.crmText1 {
    font-family: 'Mont1';
    font-style: normal;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 4.5625rem;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-top: 24px;
}

.crmText2 {
    font-family: 'Mont1';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.9375rem;
    color: #FFFFFF;
    margin-top: 56px;
}