.servicesWrap {
    display: flex;
    width: 96%;
}

.groupimage {
    width: 47%;
    background: radial-gradient(48.55% 48.55% at 50% 50%, rgba(255, 255, 255, 0.2) 0%, rgba(15, 183, 192, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
}

.servicesTexts {
    width: 39%;
    margin-left: 11.5%;
    margin-top: 10vh;
}

.servicesText {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 900;
    font-size: 4.875rem;
    line-height: 5.875rem;
    font-family: "Mont1";
}

.servicesText1 {
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 4.5625rem;
    margin-top: 24px;
}

.servicesText2 {
    font-family: 'Mont1';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.9375rem;
    color: #FFFFFF;
    margin-top: 5.2vh;
}

@media only screen and (max-width: 768px) {
    .servicesWrap {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .servicesText2 {
        width: 87%;
    }

    .servicesTexts {
        width: 100%;
        margin-top: 5vh;
    }

    .servicesText2 {
        margin-top: 2vh;
    }

    .servicesText1 {
        margin-top: 0.5vh;
    }

    .groupimage {
        margin-right: 0;
        margin-top: 3vh;
        width: 50%;
    }
}