.mobileappWrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mobileImage {
    width: 858px;
    height: 858px;
    background: radial-gradient(48.55% 48.55% at 50% 50%, rgba(255, 255, 255, 0.2) 0%, rgba(15, 183, 192, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -70px;
}
.mobileTexts{
    width: 39%;
    margin-right: 227px;
}

.mobileText {
    font-family: 'Mont1';
    font-style: normal;
    font-weight: 900;
    font-size: 78px;
    line-height: 94px;
    color: #0FB7C0;
}

.mobileText1 {
    font-family: 'Mont1';
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    line-height: 73px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-top: 24px;
}

.mobileText2 {
    font-family: 'Mont1';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
    margin-top: 67px;
}