.mobileappWrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    margin-top: 12vh;
}

.mobileImage {
    width: 47%;
    background: radial-gradient(48.55% 48.55% at 50% 50%, rgba(255, 255, 255, 0.2) 0%, rgba(15, 183, 192, 0) 100%);
    display: flex;
    margin-left: 6%;
}
.mobileTexts{
    width: 49%;
    margin-right: 118px;
}

.mobileText {
    font-family: 'Mont1';
    font-style: normal;
    font-weight: 900;
    font-size: 4.875rem;
    line-height: 5.875rem;
    color: #0FB7C0;
}

.mobileText1 {
    font-family: 'Mont1';
    font-style: normal;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 4.5625rem;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-top: 24px;
}

.mobileText2 {
    font-family: 'Mont1';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.9375rem;
    color: #FFFFFF;
    margin-top: 67px;
}

@media only screen and (max-width: 768px){
    .mobileappWrap{
        width: 100%;
        margin-top: 8vh;
        flex-wrap: wrap;
    }
    .mobileTexts{
        width: 100%;
        margin-right: 0;
        margin-left: 10%;
    }
    .mobileText,.mobileText1,.mobileText2 {
        width: 90%;
        margin-top: 1vh;
    }  
}