.contactUsWrap {
    display: flex;
    width: 100%;
    height: auto;
}

.map {
    margin-top: 3%;
    margin-left: 11.5%;
    width: 32%;
    background-image: url('../../public/ContactUs/Map.svg');
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ellipse {
    color: #C4C4C4;
    margin-left: -75px;
    font-size: 1.5625rem;
}

.phonEm {
    display: flex;
    align-items: center;
    /* margin-top: 42px; */
    margin-top: 8%;
    /* margin-bottom: 40px; */
    margin-bottom: 6.5%;
}

.textContact {
    font-family: 'Mont';
    font-style: normal;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 4.5625rem;
    color: #0FB7C0;
}

.phon {
    color: #F2F2F2;
}

.email {
    color: #F2F2F2;
}

.phonNum {
    font-family: 'Mont1';
    font-style: normal;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.4375rem;
    margin-left: 12px;
    color: #F2F2F2;
    margin-right: 56px;
}

.phonEmail {
    font-family: 'Mont1';
    font-style: normal;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.4375rem;
    color: #FFFFFF;
    margin-left: 12px;
}

.containerEmP {
    width: 33%;
    /* margin-left: 128px; */
    margin-left: 6.5%;
    margin-top: 3%;
    /* margin-right: 213px; */
}

.formInput {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #bfbfbf;
    background-color: transparent;
    /* height: 73px; */
    height: 7vh;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.4375rem;
    color: #F2F2F2;
    font-family: 'Mont1';
    font-style: normal;
}

.formButton {
    width: 44.5%;
    height: 8vh;
    /* margin-top: 55px; */
    margin-top: 6.5%;
    font-family: 'Mont1';
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.4375rem;
    color: #F2F2F2;
    background-color: transparent;
    border: 1px solid #bfbfbf;
}