.controlButton {
    width: 93.5%;
    display: flex;
    justify-content: center;
}

.footerButton {
    width: 93.5%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
}

.expand {
    color: #F2F2F2;
    background-color: transparent;
    border: none;
    margin-bottom: 24px;
}

.footerButtonText {
    color: #F2F2F2;
    font-size: 1rem;
    /* margin-top: 24px; */
    margin-top: 2.3vh;
    font-family: "Mont1";
}

.imageTransorm1 {
    cursor: pointer;
    padding: 10px;
    transform: rotate(180deg);
}


.imageTransorm {
    cursor: pointer;
    padding: 10px;
}

.footerLinks {
    height: 9.8vh;
    width: 100%;
    background-color: #F2F2F233;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerLinks1 {
    display: none;
}

;

.socialMediaIcon {
    margin-right: 1.72%;
}

.socialMediaIcon {
    margin-right: 1.72%;
}

@media screen and (max-width:768px) {

    .controlButton {
        width: 100%;
    }

    .footerButton {
        width: 100%;
    }

    .footerButtonText{
        font-size: 1.5rem;
        margin-top: 1.8rem;
    }
    .controlButton button span img{
        min-height: 84% !important;
    }
    .footerLinks {
        height: 8vh;
    }
    .footerLinks a span img {
        min-height: 80% !important;
    }
}