* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Mont";
  src: url("../Mont-www.Dfonts.org/Mont/Mont-Black.ttf");
}

@font-face {
  font-family: "Mont1";
  src: url("../Mont-www.Dfonts.org/Mont/Mont-Bold.ttf");
}

html,
body {

  /* ff 3.6+ */
  background: -moz-radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 1) 0%, rgba(20, 9, 33, 1) 34%, rgba(27, 11, 43, 1) 42%, rgba(17, 14, 30, 1) 53%, rgba(0, 0, 0, 1) 100%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 1) 0%, rgba(20, 9, 33, 1) 34%, rgba(27, 11, 43, 1) 42%, rgba(17, 14, 30, 1) 53%, rgba(0, 0, 0, 1) 100%);

  /* opera 11.10+ */
  background: -o-radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 1) 0%, rgba(20, 9, 33, 1) 34%, rgba(27, 11, 43, 1) 42%, rgba(17, 14, 30, 1) 53%, rgba(0, 0, 0, 1) 100%);

  /* ie 10+ */
  background: -ms-radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 1) 0%, rgba(20, 9, 33, 1) 34%, rgba(27, 11, 43, 1) 42%, rgba(17, 14, 30, 1) 53%, rgba(0, 0, 0, 1) 100%);

  /* global 92%+ browsers support */
  background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 1) 0%, rgba(20, 9, 33, 1) 34%, rgba(27, 11, 43, 1) 42%, rgba(17, 14, 30, 1) 53%, rgba(0, 0, 0, 1) 100%);
}

header {
  border-bottom: 0.75px solid hsla(0, 0%, 95%, .5);
  display: flex;
  justify-content: space-between;
  height: 127px;
  overflow: hidden;
}

.navitem {
  color: #F2F2F2;
  text-decoration: none;
  font-size: 18px;
  margin: 5px;
  font-family: "Mont";
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  line-height: 96%;
}

.navitemactiv {
  color: #0FB7C0;
  text-decoration: none;
  font-size: 18px;
  margin: 5px;
  font-family: "Mont";
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  line-height: 96%;

}

.navitems {
  background-color: #F2F2F2;

}

.navitemsactiv {
  background-color: #0FB7C0;
}

.navitemL {
  color: #0FB7C0;
  text-decoration: none;
  display: block;
  margin-top: 43px;
  font-family: "Mont";
}

.navitemLactiv {
  color: #F2F2F2;
  text-decoration: none;
  display: block;
  margin-top: 43px;
  font-family: "Mont";
}

@media screen and (max-width:1354px) {
  nav a {
    font-size: 16px;
    margin: 3px;
  }

  nav {
    width: 62%;
  }

  header {
    height: 94px;
  }
}

@media screen and (max-width:1121px) {
  nav a {
    font-size: 15px;
    margin: 2px;
  }
}

@media screen and (max-width:991px) {
  nav a {
    font-size: 13px;
  }

  header {
    height: 70px;
  }

  nav {
    flex-wrap: wrap;
  }
}