.home {
    color: white;
    font-size: 50px;
}

.homeText {
    width: 50%;
    height: 203px;
    margin-left: 11%;
    margin-top: 180px;
    color: #0FB7C0;
    font-family: "Mont";
    font-weight: 900;
    font-size: 78px;
    line-height: 101.4px;
    
}

.homeText1 {
    width: 64%;
    height: 32px;
    margin-left: 11%;
    margin-top: 24px;
    color: #F2F2F2;
    font-family: "Mont1";
    font-weight: 950;
    font-size: 24px;
    line-height: 31.2px;
}

.homeText2 {
    width: 58%;
    height: 125px;
    margin-left: 11%;
    margin-top: 18px;
    color: #F2F2F2;
    font-family: "Mont";
    font-weight: 700;
    font-size: 24px;
    line-height: 31.2px;
    font-style: SemiBold;
}

@media screen and (max-width:1770px) {
    .homeText {
        font-size: 75px;
    }

}

@media screen and (max-width:1710px) {
    .homeText {
        font-size: 70px;
    }

}

@media screen and (max-width:1610px) {

    .homeText {
        font-size: 70px;
        width: 70%;
    }
}

@media screen and (max-width:1137px) {

    .homeText {
        font-size: 50px;
        width: 60%;
        height: 60%;
    }
    .homeText1 {
        font-size: 18px;
    }
    .homeText2 {
        font-size: 18px;
    }

}
@media screen and (max-width:991px) {

    .homeText {
        font-size: 45px;
        width: 65%;
    }
    .homeText1 {
        font-size: 18px;
    }
    .homeText2 {
        font-size: 18px;
    }

}
